.message-window{
   margin-right: 25vw;
   height: 25vw;
   width: 30vw;
}

.chat{
   background-color: lightsteelblue;
   height: 25vw;
   width: 30vw;
   overflow: scroll;
   position: relative;
}


.bot-chat{
    color: black;
    background-color: lightgray;
    margin-right: 15vw;
    margin-left: 1vw;
    margin-bottom: 5vh;
    border-radius: 25px;
    text-align: center;
}

.user-chat{
    color: black;
    background-color: lightgreen;
    text-align: center;
    margin-left: 15vw;
    margin-bottom: 5vh;
    border-radius: 25px;
    margin-right: 1vw;
}

.dtStamp-float-right{
    text-align: right;
}

.message-float-left{
    text-align: left;
}

.message{
    padding: 10px;
}

.dtStamp{
    padding: 10px;
}

input{
    width: 30vw;
}

button{
    width: 10vw;
}

.message-window .input{
    justify-content: flex-end;
    display: flex;
}