.cmpnt-container-l {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
  }

  .cmpnt-btn-container-l {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 20%;
    overflow: hidden;
    transition-duration:.3s;
    -ms-transition-duration:.3s;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
  }

  .cmpnt-btn-l, .cmpnt-btn-l-50 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .cmpnt-options-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: auto;
    font-size: 28px;
    cursor: pointer;
  }

  .default-btns-l, .alternate-btns-l, .default-btns-g, .alternate-btns-g  {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    transition-duration:.3s;
    -ms-transition-duration:.3s;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
  }
  
  .default-btns-l, .alternate-btns-l {
    flex-direction: column;
  }

  .cmpnt-btn-g, .cmpnt-btn-l, .cmpnt-btn-g-100 {
    color: #fff!important;
    background-color: #1478fa!important;
  }

  .cmpnt-name {
    display: flex;
    align-items: center;
    height: auto;
    width: 20%;
    font-size: 24px;
    margin: 0px;
  }

  .cmpnt-name h1 {
    font-size: 22px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .cmpnt-info-l p, .cmpnt-info p {
    font-size: 16px;
    text-align: center;
    margin: 5px 10px;
  }
  
  .cmpnt-btn-l p {
    text-align: center;
    margin: 2px;
  }

  .cmpnt-seperator {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 2px;
    margin: 0px 6px;
    background-color: #9e9e9e;
  }
  
  .cmpnt-info-l {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    margin: 0px;
  }

  /*-------------------------------------------*\
   @Media
\*-------------------------------------------*/
@media (min-width: 576px) {
    .cmpnt-info-l {
      flex-direction: row;
    }
  
    .asgmt-cmpnt-container-l {
      flex-direction: row!important;
    }
  
    .cmpnt-info-l p {
      font-size: 18px;
      margin: 0px 10px;
    }
  }
  
  @media (min-width: 768px) {
    .cmpnt-name h1 {
      font-size: 22px;
    }
  
    .default-btns-l, .alternate-btns-l {
      flex-direction: row;
    }
  
    .cmpnt-btn-l-50 {
      height: 35px;
      width: calc(50% - 20px);
    }
  
    .cmpnt-btn-l {
      height: 35px;
      width: calc(100% - 45px);
    }
  }
  
  @media (min-width: 992px) {
    .asgmt-cmpnt-btn-l {
      justify-content: center!important;
      white-space: initial!important;
    }
  
    .cmpnt-btn-l-50 {
      height: 35px;
      width: calc(50% - 30px);
    }
  }
  
  @media (min-width: 1200px) {
    .cmpnt-btn-l {
      width: calc(100% - 60px);
    }
  
    .cmpnt-info-l p {
      font-size: 20px;
    }
  }
  
  @media (min-width: 1526px) {
    .cmpnt-btn-l {
      height: 30px;
      width: calc(100% - 90px);
    }
  
    .cmpnt-btn-l-50 {
      height: 35px;
      width: calc(50% - 40px);
    }
  }